<!DOCTYPE html>  
<html>  
    <head>  
        <%- include('./partials/head'); %>  
    </head>  
    
    <header>  
    <%- include('./partials/header'); %>  
    </header>  
    
    <body>  
        <h1><%= menu %></h1>  
        <p><%= menu %>의 본문 부분 입니다.</p>     
    </body>  
    
    <footer>  
        <%- include('./partials/footer'); %>  
    </footer>  
</html>  
